<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title> 漂流浮标S1042 6月1日20时 至 6月2日20时风向监测 </title>
<style>
    table {
        border-collapse: collapse;
        border: 1px solid black;
    }

    th td {
        text-align: center;
        padding: 5px;
    }

    table tr:nth-child(even) {
        background-color: #eee;
    }

    table tr:nth-child(odd) {
        background-color: #fff;
    }
</style>
</head>
<body>
    <div class="container">
        <h2>气温监测数据表</h2>
        <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>plfbqzh</th>
      <th>S1020</th>
      <th>S1031</th>
      <th>S1038</th>
      <th>S1039</th>
      <th>S1042</th>
    </tr>
    <tr>
      <th>gcrqsj</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-06-01 20:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>84.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 20:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>210.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 20:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>64.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 20:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>180.00</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 20:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>151.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 20:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-01 21:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>191.25</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 21:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>244.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 21:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>75.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 21:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>101.25</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 21:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>104.06</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 21:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-01 22:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>151.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 22:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>196.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 22:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>199.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 22:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>210.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 22:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>233.44</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 22:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-01 23:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>194.06</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 23:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>70.31</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 23:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>67.50</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 23:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 23:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-01 23:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 00:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>219.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 00:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>70.31</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 00:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>90.00</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 00:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>115.31</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 00:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>160.31</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 00:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 01:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>216.56</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 01:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>92.81</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 01:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>84.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 01:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>129.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 01:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>129.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 01:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 02:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>191.25</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 02:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>177.19</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 02:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>210.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 02:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>253.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 02:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>67.50</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 02:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 03:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>90.00</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 03:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>92.81</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 03:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>109.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 03:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>78.75</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 03:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 03:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 04:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>194.06</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 04:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>208.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 04:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>185.62</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 04:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>157.50</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 04:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>143.44</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 04:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 05:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>109.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 05:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>90.00</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 05:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>101.25</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 05:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>129.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 05:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>101.25</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 05:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 06:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>118.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 06:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>163.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 06:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>154.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 06:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>98.44</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 06:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>92.81</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 06:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 07:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>115.31</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 07:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>112.50</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 07:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>151.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 07:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>163.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 07:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>120.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 07:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 08:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>81.56</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 08:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>73.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 08:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>90.00</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 08:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>61.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 08:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>78.75</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 08:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 09:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 09:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 09:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 09:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 09:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 09:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 10:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>8.44</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 10:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>154.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 10:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>286.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 10:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>255.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 10:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>174.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 10:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 11:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>154.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 11:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>171.56</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 11:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>165.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 11:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>154.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 11:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 11:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 12:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>163.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 12:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>210.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 12:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>168.75</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 12:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>205.31</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 12:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>180.00</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 12:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 13:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>205.31</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 13:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>191.25</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 13:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>199.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 13:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>216.56</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 13:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>210.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 13:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 14:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>208.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 14:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>241.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 14:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>227.81</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 14:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>241.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 14:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>208.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 14:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 15:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>236.25</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 15:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>230.62</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 15:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>236.25</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 15:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>244.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 15:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>208.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 15:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 16:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>258.75</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 16:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>230.62</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 16:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>264.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 16:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>216.56</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 16:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>154.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 16:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 17:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>199.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 17:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>67.50</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 17:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>165.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 17:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>174.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 17:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>241.88</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 17:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 18:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 18:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>64.69</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 18:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 18:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 18:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 18:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-02 19:00:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>73.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 19:10:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>30.94</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 19:20:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>95.62</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 19:30:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>163.12</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 19:40:00</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>219.38</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2017-06-02 19:50:00</th>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
        <h2>各浮标站气温监测图</h2>
        
            <img src="tmp/2017年6月1日20时_2017年6月2日20时/splines/S1020_fx_06-01-20__06-01-20.png" alt="气温监测图" style="width:450px; height:220px; margin:20px 10px 20px 10px;">
        
            <img src="tmp/2017年6月1日20时_2017年6月2日20时/splines/S1031_fx_06-01-20__06-01-20.png" alt="气温监测图" style="width:450px; height:220px; margin:20px 10px 20px 10px;">
        
            <img src="tmp/2017年6月1日20时_2017年6月2日20时/splines/S1038_fx_06-01-20__06-01-20.png" alt="气温监测图" style="width:450px; height:220px; margin:20px 10px 20px 10px;">
        
            <img src="tmp/2017年6月1日20时_2017年6月2日20时/splines/S1039_fx_06-01-20__06-01-20.png" alt="气温监测图" style="width:450px; height:220px; margin:20px 10px 20px 10px;">
        
            <img src="tmp/2017年6月1日20时_2017年6月2日20时/splines/S1042_fx_06-01-20__06-01-20.png" alt="气温监测图" style="width:450px; height:220px; margin:20px 10px 20px 10px;">
        
    </div>
</body>
</html>
        